.grayBlock {
  background-color: #efefef;
  min-height: 48px;
  min-width: 48px;
  border-radius: 4px;
  z-index: 2;
  position: relative;
}
.whiteBlock {
  background-color: #efefef;
  min-height: 48px;
  min-width: 48px;
  border-radius: 4px;
  z-index: 2;
  opacity: 0.3;
}
.allowDrop {
  border: 2px dashed green;
}
